/** @format */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00683d;
  padding: 0 2rem;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a {
  color: white;
  text-decoration: none;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #e6d602;
}
button {
  font: inherit;
  border: 2px solid #00683d;
  border-radius: 2px;
  background-color: white;
  color: #00683d;
  margin: 1rem 0;
}
button:hover,
button:active {
  color: #0e8f5b;
  border-color: #0e8f5b;
  cursor: pointer;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
